$hover: rgba(230, 230, 230, 1);

input {
    border: 1px dashed grey;
}

textarea {
    border: 1px dashed grey;
    resize: none
}

button,
label,
input,
textarea {
    display: block;
    margin: 10px;
}

.notes-list-element:hover {
    background: $hover;
}

.hidden {display: none;}