@use "../../../node_modules/normalize.css/normalize";
@use "animations.scss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    font-family: "JetBrains Mono";
    // font-size: 2em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

main {
    height: 100vh;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

.square {
    width: 50%;
    background-color: animations.$color-main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    position: relative;

}

.two {
    position: relative;
}

.animstart-top-right {
    animation: top-right-return 0.4s ease;
}

.animstart-bottom-left {
    animation: bottom-left-return 0.4s ease;
}

.two:hover {
    animation: top-right 0.2s ease;
    left: animations.$hover-distance;
    top: -(animations.$hover-distance);
    background-color: animations.$color-hover;
}

.three {
    z-index: 6;
    position: relative;
  
}

.three:hover {
    z-index: 6;
    animation: bottom-left 0.2s ease;
    left: -(animations.$hover-distance);
    top: animations.$hover-distance;
    background-color: animations.$color-hover;
}

.four {
    position: relative;
}

.bottom {
    z-index: -1;
    position: absolute;
    background-color: animations.$bottom-background;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.squarebottom {
    width: 50%;
}

.squaregradient {
    width: 50vh;
    height: 50vh;
    background-image: linear-gradient(135deg, animations.$color-box-left 50%, animations.$color-box-bottom 50%);
}

.bottomthree {
    background-color: animations.$color-box-bottom;
    height: 50vh;
    position: relative;
}

.squaregradientbottom {
    position: absolute;
    right: 0px;
    width: 50vh;
    height: 50vh;
    background-image: linear-gradient(135deg, animations.$color-box-bottom 50%, animations.$color-box-left 50%);
}