.canvas {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateY(-50%) translateX(-50%);
}

canvas {
    border: 1px solid #ddd;

}

button {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

button:hover {
    background-color: #dddddd;
    border: 1px solid #dddddd;
}

button:active {
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;

    color: white;
}

@media (hover: none) {
    button {
        font-size: 3rem;
        color: #333;
        font-weight: lighter;
    }
}