@use 'variables.scss';
@use 'top.scss';
@use 'nav.scss';
@use 'list.scss';
@use 'edit.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');



:root {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

button {
    margin: 0 1rem 0 0;
    padding: 0.6rem;
    position: relative;
    top: -0.5rem;
    border: 0;
}

button:hover {
    background-color: midnightblue;
    color: white;
}

button:active {
    background-color: blue;
    color: white;

}

.media-warning {
    display: none;
}

@media (max-width: 850px) {

    body {
        font-size: 1.3rem;
    }

    .top,
    section,
    nav {
        display: none;
    }

    .media-warning {
        display: block;
        color: black;
        text-align: center;
        margin-top: 3rem;
        line-height: 2.5rem;
    }

    strong {
        // color: darkred
    }

}