@use 'variables.scss';
@use 'top.scss';
@use 'nav.scss';
@use 'list.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

:root {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

$hover: rgba(230, 230, 230, 1);

button,
label,
input,
textarea {
    display: block;
    margin: 10px;
}

.notes-list-element:hover {
    background: $hover;
    cursor: pointer;
}

.hidden {
    display: none;
}

// .dragto {
//     width: 200px;
//     height: 200px;
//     background: greenyellow;
// }