@use 'variables.scss';

nav {
    margin: variables.$left-margin;
}

.nav-buttons-wrapper {}


.notes-list-title {
    float: left;
    width: variables.$left-column-width;
    font-weight: variables.$regular;
}

.add-note {
    background-color: green;
    color: white;
}
