@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');

body {
    font-family: Caveat;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.question {
    position:relative;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px dashed;
    font-size: 2rem;
}

.answer {
    position: relative;
    z-index:0;
    background: #222;
    color: white;
    transition: 0.7s all ease;
    max-height: 0px;
    overflow: hidden;
    font-size: 1.5rem;

}

.show {
    position: relative;
    overflow: auto;
    transition: 0.7s all ease;
}

li {
    list-style-type: none;
    
}

.question {
    cursor: pointer;
}

.question:hover {
    background-color: #eee;
}

@media (max-width:700px) {
    ul, li {
        padding: 0 0.5rem 0 0.5rem
    }
}