@keyframes on {
    from {
        left: -700px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes off {
    from {
        left: 0px;
        opacity: 1;
    }

    to {
        left: 700px;
        opacity: 0;
    }
}


.animation-on {
    animation: on 0.5s;
    // animation-delay: 1s;
}

.animation-off {
    animation: off 0.5s;
}

.animate-one {
    position: relative;
    padding-top: 1em;
    font-size: 1.5em;
    // opacity: 1;
}

.hidden {
    opacity: 0;
}

// .visible {
//     opacity: 1;
//     transition: all ease 1s;
// }