@use "../../node_modules/normalize.css/normalize.css";
@use "animate.scss";

body {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

section {
    height: 100vh;
    width: 100%;
}

header {
    background-color: honeydew;
    height: 100%
}

.a {
    background: rgb(100, 100, 130);
}

.b {
    background: rgb(50, 80, 50);
    background-attachment: fixed;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0
}

.c {
    // background: grey
}

.d {
    background: rgb(150, 180, 150);
}

.e {}