@use 'variables.scss';


ul.strings-guitar {
}

ul.strings-guitar li {
    font-size: 5em;
    list-style: none;
    height: 16.66666667%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sansita Swashed";
}

li.guitar-e4 {
    background: rgba(variables.$r, variables.$g, variables.$b, 0.9);
}

li.guitar-h {
    background: rgba(variables.$r, variables.$g, variables.$b, 0.8);
}

li.guitar-g {
    background: rgba(variables.$r, variables.$g, variables.$b, 0.7);
}

li.guitar-d {
    background: rgba(variables.$r, variables.$g, variables.$b, 0.6);
}

li.guitar-a {
    background: rgba(variables.$r, variables.$g, variables.$b, 0.6);
}

li.guitar-e2 {
    background: rgba(variables.$r, variables.$g, variables.$b, 0.6);
}

li:hover {
    border: 10px solid rgba(variables.$r, variables.$g, variables.$b, 1);
    cursor: pointer;
}