@use 'variables.scss';
@use 'nav.scss';
@use 'violin.scss';
@use 'guitar.scss';

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: scale-color(variables.$fontcolor, variables.$alpha:-40%);
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: black;
}

ul {
    height: 100%
}

main {
    width: variables.$proportions;
}

.up:hover,
.down:hover,
.reset:hover {
    border: 10px solid rgba(variables.$r, variables.$g, variables.$b, 1);
    cursor: pointer;
}

li.active {
    // border: 10px solid #222
    background: rgb(48, 14, 37);
    transition: all ease 0.3s;
}

.hidden {
    display: none;
}