@use 'variables.scss';
@use 'nav.scss';
@use 'violin.scss';
@use 'guitar.scss';

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

ul * {
    font-family: "Sansita Swashed";
}

span.keyboard {
    font-size: 1rem;
    padding-left: 1rem;
    font-family: sans-serif;
}

sub {
    font-size: variables.$fontsizenotes*0.6;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: black;
}

ul {
    height: 100%
}

main {
    width: variables.$proportions;
}

.guitar-choice:hover,
.violin-choice:hover,
.silence:hover,
.up:hover,
.down:hover,
.reset:hover {
    border: 10px solid rgba(variables.$r-panel, variables.$g-panel, variables.$b-panel, 1);
    cursor: pointer;
}

li.active {
    background: rgba(variables.$r-active, variables.$g-active, variables.$b-active, 1);
    transition: all ease 0.3s;
}

.hidden {
    display: none;
}

.activeinstrument {
    background: rgba(variables.$r-active, variables.$g-active, variables.$b-active, 1);
}

