@use 'variables.scss';

nav {
    width: calc(100% - #{variables.$proportions});
    font-family: monospace;
}

nav div {
    display:flex;
    align-items: center;
    justify-content: center;
}

nav div:active {
    background: rgba(variables.$r-panel, variables.$g-panel, variables.$b-panel, 0.8);
}

nav span {
font-size: 2rem;
padding-left: 0.5rem;
position: relative;
top: -0.3rem;
}

.guitar-choice, .violin-choice {
    height: 14%;
    background-color: rgba(variables.$r-panel, variables.$g-panel, variables.$b-panel, 0.2);
}

.up {
    background: rgba(variables.$r-panel, variables.$g-panel, variables.$b-panel, 0.6);
    height: 15%;
}

.down {
    background: rgba(variables.$r-panel, variables.$g-panel, variables.$b-panel, 0.5);
    height: 15%;
}

.reset {
    background: rgba(variables.$r-panel, variables.$g-panel, variables.$b-panel, 0.2);
    height: 14%;
}

.silence {
    background: rgba(variables.$r-panel, variables.$g-panel, variables.$b-panel, 0.1);
    height: 14%;
}

.hz {
    height: 14%;
    background: rgba(variables.$r-active, variables.$g-active, variables.$b-active, 1);
}

@keyframes tune-change-anim {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tune-change-anim {
animation: tune-change-anim 0.3s;
// animation-fill-mode: forwards;
}