$proportions: 70%;
$proportionsnav: 16.6666667%;

$r-violin: 67;
$g-violin: 147;
$b-violin: 40;

$r-guitar: 200;
$g-guitar: 165;
$b-guitar: 0;

$r-panel: 140;
$g-panel: 142;
$b-panel: 100;

$r-active: 205;
$g-active: 79;
$b-active: 24;

$fontcolor: #fff;
$fontsizenotes: 4rem;

$opaque: 1;
$partialopacity: 0.1;

$choice-background: red;