@use 'variables.scss';




ul.strings-violin li {
    font-size: variables.$fontsizenotes;
    list-style: none;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.violin-e {
    background: rgba(variables.$r-violin, variables.$g-violin, variables.$b-violin, calc(#{variables.$opaque - variables.$partialopacity*1}));
}

li.violin-a {
    background: rgba(variables.$r-violin, variables.$g-violin, variables.$b-violin, calc(#{variables.$opaque - variables.$partialopacity*2}));
}

li.violin-d {
    background: rgba(variables.$r-violin, variables.$g-violin, variables.$b-violin, calc(#{variables.$opaque - variables.$partialopacity*3}));
}

li.violin-g {
    background: rgba(variables.$r-violin, variables.$g-violin, variables.$b-violin, calc(#{variables.$opaque - variables.$partialopacity*4}));
}

ul.strings-violin li:hover {
    border: 10px solid rgba(variables.$r-violin, variables.$g-violin, variables.$b-violin, variables.$opaque);
    cursor: pointer;
}